@{
    ViewData["Title"] = "Intro";
}

<div class="text-center">
    <h1 class="display-4">Вступ</h1>    
</div>

<h2>ASP</h2>
<p>
    Active Server Pages (ASP) - Технологія створення сайтів з серверним 
    формуванням сторінок (з серверною активністю). Кожна дія користувача 
    призводить до формування нових запитів, створення нових сторінок (або
    оновлення поточних). Технологія протиставляється SPA (Single Page App),
    як такій, що навпаки не оновлюючи сторінку імітує переходи між "сторінками"
</p>
<p>
    ASP.NET Core - фреймворк для платформи .NET Core, який спрощує розробку 
    веб-проєктів різного призначення.
</p>
<h2>Ідеї</h2>
<p>
    Основні ідеї - гнучке розширення через прив'язку до імен, які формуються
    через розбір запиту за певним шаблоном (патерном). Замість реєстрації чи
    декларації набору маршрутів задається правило пошуку активності за 
    запитом, що формально не обмежує кількість обробників. Наприклад, для 
    створення нової сторінки достатньо додати метод до контролера та одноіменний
    файл представлення.
</p>
<p>
    Tag-helpers: спеціальні конструкції, які роблять розмітку 
    адаптивною до кодів та шаблонів. Наприклад, дозволяють формувати 
    посилання на конкретний метод (action) конкретного контролера. 
    <code>&lt;a asp-controller="Home" asp-action="Intro" /&gt;</code>
</p>