@{
    ViewData["Title"] = "Razor";
}

<div class="text-center">
    <h1 class="display-4">Синтаксис Razor</h1>
</div>
<h2>Ідеї</h2>
<p>
    Головна задача, що вирішується при серверній активності - це інтерполяція 
    рядків та даних, формування HTML як String (рядкової змінної) з додатковими 
    задачами вставлення даних, умовної верстки (додавання частин тільки при 
    виконанні певних умов) а також циклічної верстки (формування однакових 
    блоків для різних наборів даних)
</p>